* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	transition: .5s ease-in-out;
}
body {
	margin: 0;
}
h1 {
	font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}
h2 {
	font-weight: 500;
	font-size: 32px;
}
p {
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}
.first-screen {
	padding: 1px;
    background-color: #EEEFF1;
}
.frame img {
	height: auto;
    max-width: 40vw;
    min-width: 30vw;
}
.disign {
	margin-left: 100px;
}
button {
	width: 190px;
	height: 55px;
	padding: 20px 30px;
	margin-top: 50px;
	margin-bottom: 80px;
	border: none;
	outline: none;
	color: white;
	box-shadow: 0 5px 5px #34547A;
	background-color: #34547A;
	cursor: pointer;
	transition: unset;
}
button:active {
	box-shadow: 0 2px 5px #34549B;
	transform: translateY(3px);
}
.text {
	font-size: 16px;
    line-height: 26px;
}
article {
	padding-top: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 25px;
	margin: 0 auto;
}
.menu ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
.menu li {
	display: inline;
}
.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #343534;
	padding: 5px 20px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1.1px;
}
.img_logo img{
	display: flex;
	align-items: center;
}
.about-me {
	width: 35%;
	padding: 70px 0;
	text-align: center;
}
.numbers {
	background: #34547A;
}
.my-project {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 100%;
    align-items: center;
}
.project {
	padding: 50px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project p {
	margin: 0;
	color: white;
}
.skills {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 0;
}
.my_skills {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 270px;
}
progress {
	width: 40vw;
	line-height: 30px;
}
.img img {
	height: auto;
	max-width: 40vw;
	min-width: 20vw;
}
.video {
	background-color: #EEEFF1;
	text-align: center;
}
.my_video {
	display: flex;
	justify-content: center;
}
.my_video iframe {
	border: 0;
}
.my-job {
	padding: 1px;
}
.photo {
	display: flex;
	flex-wrap: wrap;
}
.photo_img {
	position: relative;
	display: flex;
	flex: 1 0 25%;
	flex-wrap: wrap;
	min-width: 150px;
}
.photo_img img {
	width: 100%;
	min-width: 25%
}
.photo_img-2 {
	position: absolute;
	top: 0;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
	visibility: hidden;
    background-color: rgb(0, 0, 0, 0.7)
}
div.photo_img-2 img {
	width: 50px;
	min-width: 50px;
	height: 50px;
	margin: auto;	
}
.photo_img:hover .photo_img-2 {
	visibility: visible;
}
.inner {
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
}
.my-job {
	padding: 40px 250px ;
}
.clients {
	padding: 1px;
	text-align: center;
}
.grid {
	background-color: #EEEFF1;
	text-align: center;
}
.form {
	display: grid;
	grid-template-columns: 255px 255px;
	grid-template-rows: repeat(5, 50px);
	grid-row-gap: 20px;
	grid-column-gap: 30px;
}
#text, textarea {
	grid-column: 1 / 3;
	grid-row: 2 / 6;
}
.forms {
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.text_form {
	padding: 25px 215px;
}
input, textarea {
	border: none;
	padding-left: 15px;
	outline: none;
}
textarea {
	resize: none;
	padding-top: 25px;
}
.logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 30px;
}
.logo img {
	width: 25%;
	height: 25%;
	min-width: 150px;
}
.ico {
	padding-top: 45px;
}
footer {
	background-color: #34547A;
}
.footers {
	color: white;
}
.footers h3 {
	font-size: 21px;
	font-weight: 500;
}
.footers p {
	font-size: 13px;
	color: unset;
}
.vector {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
	margin: 0 auto;
}
.box {
	max-width: 1005px;
	margin: auto;
}


@media (max-width: 950px) {
	.my-job {
		padding: 1vw;
	}
	.about-me {
		padding: 1vw;
	}
}
@media (max-width: 671px) {
	.list {
		padding-top: 20px;
	}
	.frame img {
    height: auto;
    max-width: 60vw;
    min-width: 30vw;
    }
}
@media (max-width: 695px) {
	.box article {
		display: block;
	}
	.frame {
		display: flex;
		justify-content: center;
	}
	.disign {
		text-align: center;
		margin: 0;
	}
	.about-me {
		display: inline;
		padding: 1vw;
	}
	.skills {
		display: flex;
		flex-direction: column;
		padding: 1vw;
	}
	.img img {
		height: auto;
		max-width: 85vw;
		min-width: 20vw;
		padding: 15px 0;
	}
	.project {
		padding: 20px 0;
	}
	progress {
		width: 85vw;
	}
	.text_form {
		padding: 1vw;
	}
	.form {
		grid-template-columns: 60vw;
		grid-template-rows: repeat(5, 10vw);
	}
	#text, textarea {
		grid-column: 1 / 2;
		grid-row: 3 / 6;
	}
}
@media (max-width: 400px) {
	.vector {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 3vh 0;
	}
}